* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica";
  font-weight: 400;
  margin: 0px;
  margin: 0;
  padding-bottom: 3rem;
  background: antiquewhite;
}

header {
  text-align: center;
  background: sandybrown;
  font-family: fantasy;
  font-size: xxx-large;
  border-radius: 7px;
  color: crimson;
}

#name {
  margin: 16px 2px 16px 16px;
}
#btn {
  margin: 16px 2px 16px 2px;
}

.msgs {
  margin: 16px 2px 16px 16px;
}

#message {
  color: black;
  margin: 16px 4px 16px 16px;
  border-radius: 4px;
  border-color: coral;
  height: 10vh;
  width: 60vw;
}

.msg-container {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
#msgBtn {
  height: 81px;
  width: 200px;
}

textarea {
  resize: none;
}
.welcome {
  margin: 16px 4px 16px 16px;
}
.connections {
  margin: 6px 4px 4px 16px;
  color: red;
}
