* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0px;
  margin: 0;
  padding-bottom: 3rem;
  background: antiquewhite;
}

header {
  text-align: center;
  background: sandybrown;
  font-family: fantasy;
  font-size: xxx-large;
  border-radius: 7px;
  color: crimson;
}

#name {
  margin: 16px 2px 16px 16px;
  min-height: 40px;
  min-width: 178px;
}
#btn {
  margin: 16px 2px 16px 2px;
}

.msgs {
  margin: 16px 2px 16px 16px;
}

#message {
  color: black;
  margin: 16px 4px 16px 16px;
  border-radius: 4px;
  border-color: deeppink;
  height: 10vh;
  width: 60vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.msg-container {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

textarea {
  resize: none;
}
.welcome {
  margin: 16px 4px 16px 16px;
}
.connections {
  margin: 6px 4px 4px 16px;
  color: red;
}
#btn,
#msgBtn {
  min-width: 140px;
  min-height: 40px;
  background-color: deeppink;
  border-radius: 5px;
}
#msgBtn:hover,
#btn:hover {
  background-color: greenyellow;
}
